<div class="" style="padding: 12px">

  <mat-card>
    <h2>Inserção de clientes</h2>
    <div>
      <mat-form-field>
        <input type="text" matInput placeholder="nome" [(ngModel)]="nome" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input type="text" matInput placeholder="fone" [(ngModel)]="fone" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input type="text" matInput placeholder="email" [(ngModel)]="email" />
      </mat-form-field>
    </div>

    <button color="primary" mat-stroked-button (click)="onAdicionarCliente()">Inserir Cliente</button>
  </mat-card>
</div>
